openapi: 3.0.0
info:
  title: Sleepwalking Events API
  description: API for creating sleepwalking and sleep data records via GraphQL.
  version: 1.0.0
servers:
  - url: https://rk-8.com/graphql
    description: Main GraphQL API server
paths:
  /graphql/:
    post:
      operationId: createSleepwalkingEvent
      summary: Creates a sleepwalking event record using a GraphQL mutation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - variables
              properties:
                query:
                  type: string
                  description: GraphQL mutation to create a sleepwalking event. This field is auto-filled by the API client and should not
                    be modified.
                  example: |
                    mutation CreateSleepwalkingEvent($startTime: DateTime!, $endTime: DateTime!, $intensity: String!) {
                      createSleepwalkingEvent(startTime: $startTime, endTime: $endTime, intensity: $intensity) {
                        sleepwalkingEvent {
                          id
                          startTime
                          endTime
                          intensity
                        }
                      }
                    }
                variables:
                  type: object
                  required:
                    - startTime
                    - endTime
                    - intensity
                  properties:
                    startTime:
                      type: string
                      format: date-time
                      description: Start time of the sleepwalking event
                    endTime:
                      type: string
                      format: date-time
                      description: End time of the sleepwalking event
                    intensity:
                      type: string
                      description: Intensity of the sleepwalking event
      responses:
        "200":
          description: Successfully created sleepwalking event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sleepwalkingEvent:
                        type: object
                        properties:
                          id:
                            type: string
                          startTime:
                            type: string
                            format: date-time
                          endTime:
                            type: string
                            format: date-time
                          intensity:
                            type: string
  /:
    post:
      operationId: createSleepData
      summary: Creates sleep data records using a GraphQL mutation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - variables
              properties:
                query:
                  type: string
                  description: GraphQL mutation to create sleep data. This field is auto-filled by the API client and should not be
                    modified.
                  example: >
                    mutation CreateSleepData($startTime: DateTime!, $endTime: DateTime!, $deepSleepDuration: Int!,
                    $lightSleepDuration: Int!) {
                      createSleepData(startTime: $startTime, endTime: $endTime, deepSleepDuration: $deepSleepDuration, lightSleepDuration: $lightSleepDuration) {
                        sleepData {
                          id
                          startTime
                          endTime
                          sleepScore
                        }
                      }
                    }
                variables:
                  type: object
                  required:
                    - startTime
                    - endTime
                    - deepSleepDuration
                    - lightSleepDuration
                  properties:
                    startTime:
                      type: string
                      format: date-time
                      description: Start time of the sleep data
                    endTime:
                      type: string
                      format: date-time
                      description: End time of the sleep data
                    deepSleepDuration:
                      type: integer
                      description: Duration of deep sleep in minutes
                    lightSleepDuration:
                      type: integer
                      description: Duration of light sleep in minutes
      responses:
        "200":
          description: Successfully created sleep data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      sleepData:
                        type: object
                        properties:
                          id:
                            type: string
                          startTime:
                            type: string
                            format: date-time
                          endTime:
                            type: string
                            format: date-time
                          sleepScore:
                            type: integer
